<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/05bc888b6b.js" crossorigin="anonymous"></script>
    <script src="main.js" defer></script>
    <script src="swiper.js" defer></script>
    <title>MTG Deck</title>
</head>
<body>
    <header>
        <h1>Build you deck summoner</h1>
        <span class="open-window">&#127136;</span>
        <span>Deck</span>
    </header>
    <section class="formSection">
        
    <form class="cardForm">
        <label for="cardName">Card Name</label>
        <input type="text" name="cardName" placeholder="Card Name">
        <label for="cardPicture">Card Picture</label>
        <input type="text" name="cardPicture" placeholder="Card Picture (link)">
        <span class="picture_confirm">Confirm Picture</span>
        <button class="addCardButton">Add card</button>
        <button class="removeCardButton">Remove card</button>
        <button class="changeCardButton">Change card</button>
    </form>
    <div class="searchCard">
        <p>Search Card by Name</p>
        <input id="searchCardByName" type="text" placeholder="Search">
        <label for="searchCardByName"><i class="fa-solid fa-magnifying-glass"></i></label>
        <div class="searchResults">
            <div class="swiper swiperSearchedSlide">
            <div class="swiper-wrapper">
              <!-- <div class="swiper-slide">
                <img
                  data-src="https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=129732&type=card"
                  class="swiper-lazy"
                />
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>
              <div class="swiper-slide">
                <img
                  data-src="https://swiperjs.com/demos/images/nature-2.jpg"
                  class="swiper-lazy"
                />
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>
              <div class="swiper-slide">
                <img
                  data-src="https://swiperjs.com/demos/images/nature-3.jpg"
                  class="swiper-lazy"
                />
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>
              <div class="swiper-slide">
                <img
                  data-src="https://swiperjs.com/demos/images/nature-4.jpg"
                  class="swiper-lazy"
                />
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>
              <div class="swiper-slide">
                <img
                  data-src="https://swiperjs.com/demos/images/nature-5.jpg"
                  class="swiper-lazy"
                />
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div> -->
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div></div>
    </div>
    
    <div class="picture_wrapper">
    <div class="picture_monitor"></div>
    </div>
    
    </section>
    <main>
        <div class="slide-container">
            <span class="close-window">&#66338;</span>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <%cards.map(card=>{ %>
                
                        <div class="swiper-slide">
                            <img src=<%= card.img %> alt="">
                        </div>
                    <%})%>
              </div>
        </div>
        </div>
        <section class="deckCards">
            <%cards.map(card=>{ %>
                
                <div class="cardWrapper">
                    <img src=<%= card.img %> alt="">
                    <span>&#215;<%= card.quantity %></span>                   
                    <p class="cardName"><%= card.name%></p>
                    <div>
                         <i class="fa-solid fa-trash-can"></i>
                         <i class="far fa-minus-square"></i>
                         <input class="cardCounter" type="number" value="1" disabled>
                         <i class="far fa-plus-square"></i>
                         <i class="fas fa-check"></i>
                    </div>
                   
                </div>
            <%})%>    
        </section>
        <button class="test">put req</button>
    </main>
    
</body>
</html>