 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 body {
    padding: 1%;
 }
 .clearFix::after,.clearFix::before{
    content: '';
    clear: both;
    display: block;
    font-size: 0;
 }
h1{
    text-align: center;
}
/*Card form & Search */
 .cardForm *:not(button) {
    display: block;
    margin: 1% 0;
    font-size: 1rem;  
 }
 .formSection{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(39, 39, 39);
    padding: 1%;
    border-radius: 3px;

 }
 .cardForm>label{
    color: #fff;
 }
 .cardForm{
    width: 40%;
    padding-bottom: 10%;
 }
 .picture_wrapper{
    width: 25%;
 }
.picture_confirm{
    display: inline-block;
    max-width: 120px;
    background-color: lightgray;
    border-radius: 3px;
    font-size: 2rem; 
}
.searchCard{
    position: relative;
    width: 25%;
    text-align: center;

}
.searchCard >p {
    position: relative;
    right: 32px;
    color: #fff;
}
#searchCardByName{
   padding: 4px;
}
span.deleteMsg{
    font-size: 1.2rem;
    color: rgb(240, 124, 124);
    opacity: 0;
    transition: opacity 300ms linear;
}
.fa-magnifying-glass  {
   position: relative;
   right: 26px;
   top: 4px;
   font-size: 1.48rem;
   box-shadow: 2px 2px 5px rgb(66, 66, 66);
   cursor: pointer; 
}
.searchResults{
    width: 100%;
    padding: 4% 2% 0% 2%;
}

.searchResults img {
    display: block;
    width: 180px;
    transition: transform 200ms linear;
}
.searchResults img:hover{
    transform: scale(1.1);
}
 /*Button styles*/
 .postButtons{
    display: flex;
 }
 .postButtons > button{
    width: 20%;
 }
 .addCardButton{
    background-color: rgb(127, 158, 127);
    font-size: 1rem;
    font-weight: 600;
 }
 .removeCardButton{
    background-color: rgb(206, 64, 28);
    font-size: 1rem;
    font-weight: 600;
    margin: 2%;
 }
 .changeCardButton{
    background-color: rgb(14, 131, 240);
    font-size: 1rem;
    font-weight: 600;
 }
 button {
    display: inline;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 0;
    margin:2% 0%;
    transition: transform 200ms linear;
 }
 button:hover{
    filter: brightness(50%);
    transform: scale(1.05);
 }


 /*Image monitor style*/
 .picture_monitor{
    position: relative;
    width: 100%;
    margin: 0 auto;
 }
 .picture_monitor > img {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 15%;
    
 }

 .swiper-slide > img {
    max-width: 223px;
 }

 /*Deck card section*/
 .cardWrapper{
    position: relative;
    width: 15%;
    margin: 0.5% 0;
    text-align: center;
 }
 .cardWrapper > img{
    display: block;
    width: 100%;
 }
 .deckCards{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
 }




 /*Deck slider*/
 .slide-container{
    position: absolute;
    padding: 10% 0;
    border-radius: 3px;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: rgba(0, 142, 224, 0.8);  
    width: 50%;
    z-index: 100;
    display: none;
 }
 

 .swiper-slide {
    display: flex;
    justify-content: center;
    border-radius: 10px;
  }
  .close-window{
    position: absolute;
    top:4px;
    right: 14px;
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;
  }
  .open-window{
    font-size: 4rem;
    cursor: pointer;
    color: rgb(9, 0, 58);
    padding: 0 1%;
    border-radius: 3px;
  }
  .decksCollection > div:first-child>span{
   box-shadow:inset 3px 3px 8px rgb(111, 0, 255),inset -3px -3px 8px rgb(111, 0, 255);
  }
  .decksCollection{
    display: flex;
    gap: 1rem;
    text-align: center;
    align-items: flex-end;
  }
  .decksCollection > div.deck{
   width: 10%;
  }
  .createDeck + p{
    font-weight: 700;
  }
  /* .swiper {
    width: 70%;
    display: flex;
    border: 2px solid rgb(153, 51, 51);
    justify-content: center;
     align-items: center;
  } */

/*New Deck*/
.newDeck{
    position: absolute;
    padding: 4% 0;
    border-radius: 3px;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: rgba(0, 142, 224, 0.8);  
    width: 20%;
    text-align: center;
    display: none;
}
.addDeckBTN{
    padding: 2%;
    background-color: lightgrey;
    width: 40%;
    border-radius: 3px;
    margin: 4% auto;
    cursor: pointer;
}
.addDeckBTN:hover{
    box-shadow: 2px 2px 5px rgb(49, 46, 46),-2px -2px 5px rgb(49, 46, 46);
}
  /*Cards wrapper styling*/
  .fa-trash-can{
    font-size: 1.2rem;
    color: rgb(61, 61, 61);
    cursor: pointer;
    border-radius: 3px;
    transition: box-shadow 100ms linear;
  }
  .fa-trash-can:hover{
    box-shadow:inset 2px 2px 6px rgb(253, 65, 65),inset -2px -2px 6px rgb(253, 65, 65);
  }
  .fa-check{
    font-size: 1.2rem;
    padding-left: 5px;
    transition: text-shadow 200ms linear;
  }
  .fa-check:hover{
    text-shadow: 1px 1px 2px rgb(0, 194, 0),-1px -1px 2px rgb(0, 194, 0);
  }

  .cardCounter{
    text-align: center;
    padding-left: 10px;
    width: 50px;
    font-weight: 600;
  }
.cardWrapper *::selection{
        color: none;
        background: none;
}



/*MEDIA QUERIES*/

@media all and (max-width: 886px) {   
    .fa-magnifying-glass  {
        left:80px;
        top: -25px;
     }
     .postButtons button{
        font-size: 0.8rem;
     }
     .searchCard > p {
        right: 10px;
     }
}

@media all and (max-width: 576px) { 
    *{
        font-size: 90%;
    }  
    .formSection{
        flex-direction: column;
    }
    .formSection >*{
        width: 100%;
    }
    .fa-magnifying-glass{
       left:-26px;
       top:4px;
    }
    .searchResults{
        width: 90%;
        margin: 0 auto;
    }
    .searchResults img{
        width: 160px;
    }
    .cardWrapper > span,
    .cardWrapper > p,
    .cardWrapper >div{
        display: none;
    }
    .cardForm{
        padding: 0;
    }
    .searchCard > p {
        position: relative;
        right: 32px;
    }
    .cardWrapper {
        width: 22%;
    }
    .deckCards{
        justify-content: center;
    }
    .cardWrapper>img{
        transition: transform 200ms linear;
    }
    .cardWrapper>img:hover{
        transform: scale(1.2);
    }
}